@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap');

:root {
  font-family: 'poppins' ;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(24, 12, 73, 0.87);
  background-color: #03787c;
  /* position: relative; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

html, body{
  overflow-x: hidden;
}
:root{
  --color-blue-dark: #0c0c22;
  --texts-color: #9da1a7;
  --color-primary: #03787c;
  --color-secondary: #49E0E6;
  --color-tertiary: #015958;
  --color-white: #fff;
  --color-green-dark: #023535;
  --color-secondary-dark: #008F8C;
}

body{
  font-family: 'poppins' sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  color: var(--texts-color);
  
}


#root {
  max-width: 1440px;
  margin: 0 auto;

}

