.landing-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: linear-gradient(to right, #00095e 0%, #0c0c1f 100%); */
    color: var(--color-white); 
    width: 100%;
}

.logo {
    width: 20rem;
    
}

.landing-nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.landing-nav-header-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 10rem;
}


.landing-nav-header-list--item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: 1rem;
    color: var(--color-white);
    font-weight: bold;
    text-transform: capitalize;
    transition: all .5s ease;
    border-bottom: 5px solid transparent;
}

.icon{
    height: 2rem;
    width: 2rem;
}

.landing-nav-header-list--item a:hover{
    border-bottom: 3px solid var(--color-white);
}

.landing-nav-header-list--item a .active{
    color: var(--color-secondary);
}

.landing-nav-btn div{
    display: flex;
    gap: 1rem;
    margin-left: 8rem;
    align-items: center;
}
.profile{
    border: 1px solid var(--color-white);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid var(--color-white);
}



.landing-nav-btn div a {
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem;
}

.landing-nav-btn-pri, .landing-nav-btn-sec{
    border: 2px solid white;
    margin: 1rem;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    transition: all .5s ease;
}

.landing-nav-btn-pri:hover{
    color: var(--color-secondary);
}

.landing-nav-btn-pri::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 0;
    background-color: var(--color-white);
    z-index: -1;
    transition: all .5s ease;
}

.landing-nav-btn-pri:hover::after {
    height: 101%;
}

.landing-nav-btn-sec{
    transition: all .5s ease;
}

.landing-nav-btn-sec:hover{
    color: var(--color-secondary);
}

/* Media Queries */
@media screen and (max-width: 480px) {
    .landing-nav-header-list {
      display: none;
    }
    
    .landing-nav-btn div {
      margin-left: 1rem;
    }
    
    .landing-nav-btn-pri,
    .landing-nav-btn-sec {
      margin: 0.5rem;
    }
  }
@media screen and (max-width: 768px) {
    .landing-nav-header-list {
      display: none;
    }
  
    .landing-nav-btn div {
      margin-left: 1rem;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .landing-nav-header-list {
      margin-left: 8rem;
    }
  }