.faqs-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  .faq-section h2 {
    text-align:center;
 
    text-transform:uppercase;
    font-size:26px; 
    letter-spacing:1px;
    
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }

  .faq-section h2:after, .faq-section h2:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    background-color:#f8f8f8;
    }
  
  .faqs-list {
    list-style: none;
    padding: 0;
    /* border-bottom: 1px solid #000; */
  }
  
  .faq {
    padding: 10px;
    cursor: pointer;
  }
  
  .faq h3 {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    padding: 5px 0;
  }
  
  .faq .arrow-icon {
    width: 10px;
    height: 10px;
    margin-left: 5px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
  
  .faq p {
    margin: 0;
    display: none;
    padding: 5px 0;
  }
  
  .faq.active .arrow-icon {
    transform: rotate(225deg);
  }
  
  .faq.active p {
    display: block;
  }
  