.footer {
    
    border-top: 1px solid #1bf8e5 ;
    padding: .9rem 0 0;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    /* text-align: center; */
    color: var(--color-blue-dark);
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    gap: 1rem;
    background-color: whitesmoke;

}
.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-left--heading {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--color-blue-dark);
    margin-left: -0rem;
}

.footer__text {
    font-size: 1.5rem;
    /* text-align: center; */
    color: var(--color-blue-dark);
    font-weight: 400;
}
.footer__link {
    text-decoration: none;
    /* display: inline-block; */
    /* color: var(--color-blue-dark); */
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 1rem ;
    margin-top: 2rem;
    margin-right: 10rem;
    /* border: 1px solid var(--color-white); */
}




.footer-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.footer-right--heading {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--color-blue-dark);
    margin-left: 20rem;
}

.footer-right--social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.main {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: 1rem;
    gap: 0.5em;

  }
  
  .up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
  }
  
  .card1 {
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .instagram {
    margin-top: .4em;
    margin-left: .2em;
    fill: #cc39a4;
  }
  
  .card2 {
    width: 25px;
    height: 25px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .twitter {
    margin-top: .4em;
    margin-left: -.1em;
    fill: #03A9F4;
  }
  
  .card3 {
    width: 25px;
    /* height: 25px; */
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .github {
    margin-left: .2em;
  }
  
  .card4 {
    width: 25px;
    /* height: px; */
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
  }
  
  .linkedin {
    margin-left: -.4em;
    fill: #0072b1;
    border-radius: 50%;
  }
  
  .card1:hover {
    cursor: pointer;
    scale: 1;
    background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
    fill: white;
  }
  
  .card2:hover {
    cursor: pointer;
    scale: 1;
    background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
    fill: white;
  }
  
  .card3:hover {
    cursor: pointer;
    scale: 1;
    background-color: black;
  }
  
  .card3:hover .github {
    fill: white;
  }
  
  .card4:hover {
    cursor: pointer;
    scale: 1;
    background-color: #0072b1;
  }
  
  .card4:hover .linkedin {
    fill: white;
  }
  
/* Media Queries */
@media screen and (max-width: 768px) {
  .footer {
    
    align-items: center;
    padding-bottom: 1rem;
  }

  .footer-left,
  .footer-right {
    margin-bottom: 1rem;
  }
  .footer-left--heading{
    margin-left: 1rem;
    font-size: 1rem;
  }

  .footer__text {
    font-size: 1rem;

  }

  .footer-right--heading {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .footer__link {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    justify-content: space-around;
  }

  .footer-left,
  .footer-right {
    gap: 2rem;
  }

  .footer-right--heading {
    margin-left: 2rem;
  }
}