.admin-container {
    width: 300px;
    margin: 0 ;
    padding: 20px;
    background-color: var(--color-primary);
   
  }
  
  .menu {
    background-color:var(--color-secondary-dark);
    color: var( --color-blue-dark);
  }