/* .user-table {
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
  
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .delete-button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
  }
   */

   .table__wrapper{
    border: 3px solid red;
    --size: 95rem;
    width: var(--size);
    max-width: var(--size);
   }


   .user-table {
    --width-fix: 100%;
    width: var(--width-fix)!important;
    max-width:var(--width-fix)!important;
    border-collapse: collapse;
    table-layout: auto;
  }
  
  .user-table th,
  .user-table td {
    white-space: wrap; 
      width: 20px;       
      overflow: hidden;
      text-overflow: ellipsis;
    padding: 5px 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .user-table td{
    max-width: 10%!important;
    text-overflow: hidden;
    
  }

  .user-table tr{
    margin-bottom: 10rem;
  }
  

  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
  }