.about-container h2 {
  text-align:center;
 
  text-transform:uppercase;
  font-size:18px; 
  letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  /* grid-template-rows: 4px 0; */
  grid-gap: 22px;
  }
  
 .about-container h2:after, .about-container h2:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  background-color:#f8f8f8;
  }

.title-1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}
.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 3rem;
    /* border-bottom: 1px solid #000; */
}
.card {
    
    position: relative;
    width: 250px;
    height: 250px;
    color: #2e2d31;
    background: #131313;
    overflow: hidden;
    margin-bottom: 3rem;
    border-radius: 20px;
    
  }
  
  .temporary_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
    
  
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: absolute;
    left: 0;
    bottom: 0;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: rgb(15, 228, 240);
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #b5e9e3;
  }
  
  .card_title {
    color: var(--color-blue-dark);
    line-height: 15px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .card_description {
    font-size: 14px;
    font-weight: 400;
    opacity: 0;
    transition: opacity .5s;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  