/*  */
  
.testimonials {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
 
  /* border-bottom: 1px solid #000; */
}

.testimonials-container h1 {
  text-align:center;
 
  text-transform:uppercase;
  font-size:18px; 
  letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 4px 0;
  grid-gap: 22px;
  }
  
 .testimonials-container h1:after, .testimonials-container h1:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #ccc;
  background-color:#f8f8f8;
  }

.title-1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: #222;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-template-rows: 27px 0;
  grid-gap: 20px;
  align-items: center;
}


.flip-card {
  background-color: transparent;
  margin-bottom: 3rem;
  width: 245px;
  height: 270px;
  perspective: 1000px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 2em;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(15, 228, 240);
  border: 4px solid #008F8C;
}

.profile-image {
  background-color: transparent;
  border: none;
  margin-top: 15px;
  border-radius: 5em;
  width: 120px;
  height: 120px;
  margin-left: 50px;
}

.pfp {
  width:70%; 
 
  border-radius: 50%;
  fill: #09ebf7;
}

.name {
  margin-top: 15px;
  font-size: 27px;
  color: var(--color-blue-dark);
  font-weight: bold;
}

.flip-card-back {
  background-color: rgb(15, 228, 240);
  border: 4px solid #008F8C;
  transform: rotateY(180deg);
  padding: 11px;
}

.description {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--color-blue-dark);
}

.socialbar {
  background-color: transparent;
  border-radius: 3em;
  width: 90%;
  padding: 14px;
  margin-top: 11px;
  margin-left: 10px;
  word-spacing: 24px;
 
  color: white;
}

.socialbar .bi {
  padding: 5px;
  
}

.socialbar svg {
  transition: 0.4s;
  width: 30px;
  height: 30px;
  color: #0c0c22
}

.socialbar svg:hover {
  color: white;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
