.prof {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user__Avatar {
   display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
   }

   .user__Avatar img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 50%;
   }

.user__Details {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px dotted #ddd;
    padding: 20px;
}